{% extends 'aplicacion/base.html' %}
{% load static %}

{% block title %}
    Inicio
{% endblock title %}


{% block contenido %}
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
                    <h2>Bienvenido a Orebit! En esta web podes conocer a qué nos dedicamos, quienes participamos y qué clientes tenemos. <br><br> 
                        Para más información suscribite.</h2>
         
        </div>
    </div>
</section>
{% endblock contenido %}






